/* Pairs Noto Sans JP with Open Sans */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Open+Sans:800&display=swap');

/* These style settings apply to all views */

/* FROM TOP TO BOTTOM. */

body {
    background-color: #E2EDEE;
    font-family: 'Noto Sans JP', sans-serif;
    display: grid;
    /* grid-template-rows: 12; */
}

#loginContainer {
    color: #59A4FF;
}

/* removing underline from link */
#navLogin:link {
    text-decoration: none;
}

/* removing underline from visited link */
#navLogin:visited {
    text-decoration: none;
    color: #59A4FF;
}

/* TODO: Add in neat hover effect */
#navLogin:hover {
    text-decoration: none;
}

/* removing underline from header */
#skyboundHeader:link {
    text-decoration: none;
}

/* removing underline and color from visited link */
#skyboundHeader:visited {
    text-decoration: none;
    color: white;
}

/* setting header default color */
#skyboundHeader {
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: #E2EDEE;
}

/* CSS FOR MOBILE CHARACTER FORUM: IMPORTANT! */
#forumsectionHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* TODO: Add color for selected link */

#signupLabel {
    text-align: center;
}

/* removing underline from unvisited footer link */

#registerFooter:link {
    text-decoration: none;
    color: #59A4FF;
}

/* removing underline from visited footer link */
#registerFooter:visited {
    text-decoration: none;
    color: #59A4FF;
}

/* CSS ANIMATION SETTINGS */
#navMenuMarkerHidden {
    display: none;
}
#navMenuXHidden {
    display: none;
}

/* Use flexbox more */
/* Try using just the ul for this stuff */
.navSideMenuShow {
    position: absolute;
    background-color: #f5f5f5;
    list-style-type: none;
    top: 1.1%;
    left: 63%;
    width: 21%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    transition: opacity 0.3s ease-in;
    opacity: 1;
}

/* transform allows you to translate the element. go with translateX, as that's all you need.
        negative x axis translation -> menu is out of view entirely, slide back to 0.
    this is the property that the transition is going to animate
    TLDR: css transitions animate any changes made to css properties

*/

.navSideMenuItem {
    margin-bottom: 6%;
}

#navSideMenuHead {
    margin-top: 5%;
}

.navLink:visited {
    text-decoration: none;
    color: black;
}

.navLink:link {
    text-decoration: none;
    color: black;
}

.navLink {
    color: black;
}

.navSideMenuHide {
    position: absolute;
    opacity: 0;
    /* temporary fix? */
    display: none;
}

/* CSS Resize Test */
.resizeTest {
    width: 50px;
    height: 50px;
}

/* IPhone 8 Plus Design */
@media only screen
    and (device-width : 414px)
    and (device-height : 736px)
    and (-webkit-device-pixel-ratio : 3) { 
        #navMenuMarker {
            width: 6%;
        }
        #navMainLogo {
            width: 30%;
            height: 30%;
        }
        #loginContainer {
            font-size: 90%;
        }
        /* CSS For New Layout */

        /* CSS For Mobile Character Forum */
        #subforumLogo {
            width: 26%;
            margin: 3%;
        }
        #sectionSubhead {
            /* font-size: 25px; */
            font-size: 1.8em;
        }
        #subpostCommentIcon {
            width: 4%;
            height: 4%;
            right: 7%;
            position: absolute;
            /* Prevents content from being pushed */
        }
        #subforumBanner {
            max-width: 100%;
            max-height: 100%;
            /* display set to none to temporarily mess with nav change */
            display: none;
        }
        /* The issue has to do with the section's right margin */
        /* Mobile forum tags that are used for buttons */
        /* Registration page css!! */
        .infoForm {
            height: 73vh;
            /* vh = viewport height */
        }
        .infoText {
            font-size: 19px;
            height: 25px;
        }
        /* Increasing left and right margin of labels */
        .registrationLabel {
            margin-left: 3%;
            margin-right: 3%;
        }
        /* Increasing left margin of descriptions */
        .registerInfo {
            margin-left: 3%;
        }
        .infoSubmit {
            font-size: 30px;
            /* Centering the register button */
            display: block;
            margin: 0 auto;
            color: black;
            background-color: #B2CFD2;
        }
        /* Adding space between the form and the footer  */
        form {
            margin-bottom: 5%;
        }
        footer {
            margin-left: 3%;
        }
        /* CSS Animation Settings */
        #navMenuX {
            font-size: 1.16em;
        }
        /* Testing transparent nav idea! */
        /* nav {
            background: none;
            position: fixed;
        }
        #navLogin {
            color: white;
        } */
        #filterVS {
            text-align: center;
        }
        /* limiting the size of the dropdown container */
        .characterContainer {
            height: 8%;
        }
        .dropdownImg {
            width: 10%;
        }
        /* NEW CSS FOR FILTER */
        .filterImg {
            width: 36%;
        }
        .filterCharacters {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 170px;
            z-index: 100;
            max-height: 40vh;
            /* So the goal is to decrease the viewport height and spread the items out */
            max-width: 250px;
            overflow: scroll;
            background-color: #E2EDEE;
            margin-left: 3%;
        }
        .filterCharName {
            display: flex;
            align-items: center;
            margin-top: 37%;
        }
        #filterHead {
            margin-top: 1.8em;
        }
        /* VODLink CSS */
        .VODLink {
            color: #6494C7;
            /* Increased margin makes it so that text doesn't hug screen edge */
            margin-left: 3%;
        }
        
        .VODLink:visited {
            color: #6494C7;
        }
        
        .VODLink:link {
            text-decoration: none;
        }
        .VODInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .VODInfoImg {
            width: 14%;
            margin-left: 3%;
        }
        #skyboundHeader {
            font-weight: 800;
            font-size: 1.3em;
        }
        /* filter container */
        .filterContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .filterContainer2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .filterTest {
            display: flex;
            align-items: center;
        }
        .filterContent {
            position: relative;
            top: 15px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
        .hideFilterContent {
            display: none;
        }
        .filterCharToggle {
            margin-left: 3%;
            margin-right: 5%;
        }
        .hideFilterCharacters {
            display: none;
        }
        .playerName {
            background: none;
            border: hidden;
            border-bottom: 1px solid black;
            font-size: 16px;

        }
        /* Temporary styles for new VOD view */
        .VODEventTitle {
            margin-bottom: 7px;
        }
        .VODIcon {
            margin-left: auto;
        }
        .VODPlayer {
            margin-left: 2%;
            font-size: 18px;
        }
        .VODContainer {
            border-bottom: 1px solid #6494C7;
        }
        .VODPlayButton {
            align-self: center;
        }
        .VODReportButton {
            align-self: flex-start;
        }
        .filterDropdown {
            background-color: #E2EDEE;
            border: 1px solid black;
            width: 25%;
        }
        #EventDropdown {
            margin-right: 2%;
        }
        /* Sign-In Form CSS */
        #SignInContainer {
            height: 50vh;
            padding: 4vw;
        }
        #SignInHeader {
            text-align: center;
        }
        .SignInField {
            font-size: 19px;
            height: 25px;
            display: block;
            margin-bottom: 15px;
            width: 100%;
        }
        #SignInSubmit {
            font-size: 30px;
            /* Centering the sign in button */
            display: block;
            margin: 0 auto;
            color: black;
            background-color: #B2CFD2;
            width: 40%;
        }
        #RegisterRedirect {
            font-size: 30px;
            display: block;
            margin: 0 auto;
            color: black;
            width: 40%;
            background-color: #82b1b6;
        }
        .showModal {
            position: absolute;
            z-index: 100;
            top: 22%;
            left: 5%;
            right: 5%;
            width: auto;
            border: 1px solid gray;
            border-radius: 2%;
        }
        .hideModal {
            display: none;
        }
        /* NEW CSS implemented on 1/17/2020 - skyboundHeadContainer and more additions
         */
        .skyboundHeadContainer {
            background-image: url('./images/granblueBanner.png');
            background-size: cover;
            height: 15vh;
        }
        #matchFinderHeader {
            color: white;
            text-align: center;
            /* font-family: 'Roboto', sans-serif; */
            font-family: 'Open Sans', sans-serif;
            font-size: 1.23em;
            /* font-weight: 900; */
        }
    }