/* Importing Noto Sans JP - This font is used for the character header */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

/* TO DO: LOOK INTO PAIRING FONTS */

/* These style settings apply to all views */

#loginContainer {
    color: #59A4FF;
}

/* removing underline from link */
#navLogin:link {
    text-decoration: none;
}

/* removing underline from visited link */
#navLogin:visited {
    text-decoration: none;
    color: #59A4FF;
}

/* TODO: Add in neat hover effect */
#navLogin:hover {
    text-decoration: none;
}

/* Setting nav as flex */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: #DADFE5;
}

/* All mobile versions of the site will have the same mobile header color */
#mobileHeader {
    background-color: #F1F6F7;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

/* Temporarily setting the body's background color to match Granblue */
body {
    background-color: #E2EDEE;
}

#questionSearch {
    outline: none;
}

#QAButtonContainer {
    display: flex;
    flex-direction: row;
}

#pageMoveContainer {
    display: flex;
    flex-direction: row;
}

#searchContainer {
    display: flex;
}

#questionTimestamp {
    font-weight: 250;
}

#questionContainer {
    display: flex;
    flex-direction: column;
}

/* TODO: Add color for selected link */

/* IPhone 8 Plus Design */
@media only screen
    and (device-width : 414px)
    and (device-height : 736px)
    and (-webkit-device-pixel-ratio : 3) { 
        #navMenuMarker {
            width: 6%;
        }
        #navMainLogo {
            width: 30%;
            height: 30%;
        }
        #loginContainer {
            font-size: 90%;
        }
        #charImage {
            display: block;
            width: 50%;
            /* Centering Image */
            margin: 0 auto;
        }
        #overviewDescription {
            font-size: 90%;
            font-family: 'Noto Sans JP', sans-serif;
            margin: 9%;
            border: 2px solid #5C979C;
            padding: 3%;
        }
        /* Question Search Page CSS */
        #questionSearch {
            width: 55%;
            font-family: 'Noto Sans JP', sans-serif;
        }
        #QAButtonContainer {
            justify-content: space-around;
            margin-top: 6%;
        }
        .QAButton {
            width: 22%;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 90%;
        }
        #searchContainer {
            justify-content: space-around;
            margin-top: 6%;
        }
        #pageMoveContainer {
            justify-content: space-around;
            margin-top: 6%;
        }
        .pageMoveButtons {
            width: 25%;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 90%;
        }
        /* CSS For New Layout */
        #newDesc {
            font-size: 80%;
            /* Eventually change this to percents */
            margin-bottom: 7%;
        }
    }